django-crispy-forms
asgiref
binaryornot
certifi
chardet
charset-normalizer
click
cookiecutter
crispy-tailwind
django-browser-reload
django-crispy-forms
django-tailwind
idna
Jinja2
jinja2-time
MarkupSafe
poyo
python-dateutil
python-slugify
requests
six
sqlparse
text-unidecode
urllib3
