 <footer class="w-full">
      <!-- <div class="fixed bottom-0 left-0 flex w-full text-center">
        <p> Proudly made by White_hats; </p>
        </div> -->

        <div class="fixed inset-x-0 bottom-0 bg-gray-100 ">
          <div class="container flex flex-col flex-wrap px-5 py-4 mx-auto sm:flex-row">
            <p class="text-sm text-center text-gray-500 sm:text-left">© 2021 Copyright:
              <a href="" class="ml-1 text-gray-600" target="_blank">white_hats;</a>
            </p>
            <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start">
              <a href="" class="text-gray-500">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="ml-3 text-gray-500">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="ml-3 text-gray-500">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="" class="ml-3 text-gray-500">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="" class="ml-3 text-gray-500">
                <i class="fab fa-instagram"></i>
              </a>
            </span>
          </div>
        </div>
    </footer>


