<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>Django Tailwind</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/spapp/styles.css' %}" />
<!--      <script src="https://cdn.tailwindcss.com"></script> -->

  </head>

  <body class="font-sans ">
    {% include "partials/header.html" with name="white_hats" %}
    {% block content_one_column %}
    {% endblock %}

    <div class="flex flex-col-reverse items-start py-10 mb-10 md:flex-row">
        {% block content %}
        {% endblock %}
        {% block sidebar %}
        {% endblock %}
    </div>
    </div>


    {% include "partials/footer.html" %}

  </body>
</html>
