<!DOCTYPE html>
{% load tailwind_tags %}
<html lang="en">

  <head>
    <title>Dashboard | SPAPP</title>
    <meta charset="utf-8">

      {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
      <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.4.2/dist/cdn.min.js"></script>
      <script>
      {% comment %} tailwind.config = {
        darkMode: false,
        theme: {
          extend: {
            colors: {
              primary: "#18345e", /* navyblue */
              tertinary: "#22c1dc", /* lightblue */
              secondary: "#f0ab20", /* yellow */
              red: "#c01f48", /* for errors */
              other: "#007bd6", /* blue */
              lightGrey: "#e5e5e4", /* for background */
            },
          },
        },
      } {% endcomment %}
      {% if messages %}
      alert("Hello there")
      {% for message in messages %}
        alert("{{ message }}")
      {% endfor %}
      {% endif %}
    </script>
  </head>

  <body class="font-sans bg-lightGrey">
    <h1 className="bg-teal-500 py-2">Test</h1>
    <hr />
    {% block header %}
    {% include "partials/header.html" with name="white_hats" %}
    {% endblock %}
    {% block content %}
    <h1> Welcome to Dashboard</h1>
    {% endblock %}


  {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock %}

  </body>
</html>
