{% extends 'spapp/layout.html' %}

{% block content_one_column %}
<div class="p-2 rounded-lg border-solid m-1">
<h1> Youre at profile page </h1>
<h2> CRUD for Academic Recognition </h2>
<div class="mt-5">
    <strong>Create an Academic Recognition</strong><br>
    <form method="post" class="border-solid rounded-lg" action="{% url 'spapp:create-ar'%}">
        {% csrf_token %}  
        <select name="semester">
            <option value="first_semester">First Semester</option>
            <option vlaue="second_semester">Second Semester</option>
        </select><br><br>
        <input type="number" step="0.01" placeholder="gpa" name="gpa" />
        <input type="submit" value="submit" class="cursor-pointer bg-primary text-white rounded-lg p-2 border-solid" />
    </form>
</div>
<div class="m-10">
    
    {% for recog in recogs %}      
        <a href="#" class="p-2 bg-blue-500 text-white border-solid border-2 rounded-lg hover:bg-blue-600">Update</a>
        <a href="#" class="p-2 bg-orange-500 text-white border-solid border-2 rounded-lg hover:bg-orange-600">Delete</a>
        <br><br>
        <strong>Activity</strong>: {{recog.activity}}<br>
        <strong>Semester</strong>: {{recog.semester}}<br>
        <strong>GPA</strong>: {{recog.gpa}}
    {% endfor %}
</div>

<br />
<h2> Request removal account </h2>
<a href="{% url 'spapp:request-account-removal' %}" class="text-primary underline"> Request removal account </a>


<br />
<hr />
<h2> Create validator </h2>
<form method="post" class="border-solid rounded-lg" action="{% url 'spapp:create_validator' %}" >
    {% csrf_token %}
    <input type="text" placeholder="name" name="name" />
    <input type="text" placeholder="telephone" name="phone" />
    <input type="email" placeholder="email@email.com" name="email" />
    <input type="submit" value="submit" class="bg-primary text-white rounded-lg p-2 border-solid" />
</form>



{% endblock %}
