{% extends 'spapp/layout.html' %}
{% block content %}
    <div class="container" style="display: flex; justify-content:center;">
        <form method="post" >
            {% csrf_token %}
            {{form.name.label}}
            {{form.name}}<br><br>
            {{form.faculty.label}}
            {{form.faculty}}
            <br><br>
            <button style="background: green; color: white; padding: 5px 7px; margin-left: 170px;" type="submit">Update</button>
        </form>
    </div>    
{% endblock %}